@charset "UTF-8";

main {
    width: auto;
    text-align: center;
    margin: 20px;
}

section {
    border: 4px solid red;
    text-align: center;
    color: red;
    width: 500px;
    margin: 20px auto;
}

h1 {
    margin: 0;
    border-bottom: 4px solid red;
    font-weight: normal;
    padding: 8px 0;
}

p {
    margin: 0;
    font-weight: bold;
    font-size: 36px;
    padding: 24px;
}

button {
    all: unset;
    width: 500px;
    background: red;
    border-radius: 20px;
    color: white;
    text-align: center;
    padding: 8px 0;
    margin-top: 16px auto;
    cursor: pointer; 
    box-shadow: 0 1px #7a0000;
}

button:hover {
    opacity: .8;
}

button:active {
    box-shadow: 0 1px #7a0000;
    transform: translateY(3px);
}